/* ::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    opacity: 0
} */

body {
    margin: 0;
}


.headermain {
    background-color: rgb(235, 145, 11);
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: -1;
    display: flex;
}

.main {
    /* background-color: aqua; */
    width: 1000px;
    height: 70px;
    margin-left: 250px;
}

.search {
    margin-top: -40px;
    margin-left: 300px;

}

.icon {
    /* background-color: rgb(185, 162, 162); */
    width: 350px;
    height: 70px;
    margin-left: 700px;
    margin-top: -59px;
    display: flex;
}

span {
    margin: 5px;
}

.user {
    margin: 5px;
    margin-top: 25px;
}

.fovaris {
    margin: 5px;
    margin-top: 25px;
}

.basket {
    margin: 5px;
    margin-top: 25px;
}



.half {
    padding-top: -70px;
    width: 1200px;
    height: 430px;
    background-color: rgba(235, 145, 11, 0.644);
}



.delete {
    background-color: blueviolet;
    width: 150px;
    height: 0px;
}

.empty {
    background-color: #ffffff;
    width: 150px;
    height: 50px;
    margin-top: 70px;
    font-size: 13px;
    font-weight: bold;
    text-wrap: nowrap;

}

.empty i {
    margin-top: px;
    margin-right: 110px;
}

.empty span {
    padding-right: -15px;
}



.icons {
    /* background-color: aquamarine;  */
    width: 400px;
    height: 85px;
    margin-left: 300px;
    margin-top: -60px;

}

.iconss {
    width: 350px;
    height: 70px;
    display: flex;
    /* background-color: rgb(0, 253, 169); */
    margin-top: 10px;
}

span {
    margin: 5px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.add-de {
    width: 1200px;
    height: 225px;
    background-color: #ffffff;
    margin-top: 150px;
    margin-right: 50px;
    padding-top: 20px;

}

.pictures {
    width: 200px;
    height: 200px;
    background-color: #e07979;
    margin-left: 15px;

}

.dat-in {
    background-color: #fafafa;
    width: 950px;
    height: 200px;
    margin-left: 250px;
    margin-top: -200px;
    display: flex;
}

.detail {
    width: 300px;
    height: 80px;
    background-color: #000000;
    /* Daha sonra beyaz(#fffff) olacak*/
    margin-left: 20px;
    margin-top: 50px;



}




.amount {
    background-color: #e07979;
    width: 300px;
    height: 430px;
    margin-left: 1210px;
    margin-top: -430px;

}

.top {
    width: 100%;
    height: 100px;
    margin-top: 400px;
    background-color: rgb(235, 145, 11);
}

.instagram {
    display: flex;
    align-items: center;
    margin: 5px;
    font-weight: bold;


}

.linkedin {
    display: flex;
    align-items: center;
    margin: 5px;
    margin-left: 25px;
    font-weight: bold;
}

.twitter {
    display: flex;
    align-items: center;
    margin: 5px;
    margin-left: 25px;
    font-weight: bold;
}

.thanks {
    margin-left: 900px;
    margin-top: -50px;
    font-weight: bold;
}

.logo img {

    transition: transform .3s ease-out;


}

img:hover {
    transform: scale(1.1);
}